---
layout: default-main
---
{% include main-header.html %}

<div id="fullpage" class="fullpage-index">
  <div class="section frc-index-pic-1">
    <div class="jumbotron jumbotron-fluid jumbotron-cover jumbotron-bg-pic">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            {% img '{{ "icon.png" }}' %}
          </div>
          <div class="col-lg-6 text-xs-center text-lg-left">
            <h2 class="display-4"><small>9036</small></h1>
            <h1 class="display-3" style="letter-spacing: 0.7rem">ZODIAC</h1>
            <p>
              <a class="btn btn-outline-warning btn-lg" role="button" href="#frc">Learn More <i class="fa fa-chevron-circle-right" aria-hidden="true"></i></a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="jumbotron jumbotron-fluid jumbotron-cover jumbotron-bg-white">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h1>Zodiac</h1>
            <p class="lead">
              Zodiac is a new FRC team set up in May, 2016. Now there are more than 30 team members.
            </p>
            <p class="lead">
              <a class="btn btn-outline-warning btn-lg m-b-1" href="{% post_url 2016-08-10-team-member %}" role="button">Members <i class="fa fa-chevron-circle-right" aria-hidden="true"></i></a>
              <a class="btn btn-outline-warning btn-lg m-b-1" href="#frc/robot" role="button">Our Robot <i class="fa fa-chevron-circle-right" aria-hidden="true"></i></a>
              <a class="btn btn-outline-warning btn-lg m-b-1" href="#frc/robot" role="button">Activities <i class="fa fa-chevron-circle-right" aria-hidden="true"></i></a>
            </p>
            <hr class="m-y-3 m-x-1">
            <h1>First Robotics Competition</h1>
            <p class="lead">
              For Inspiration and Recognition of Science and Technology.
            </p>
            <p class="lead">
              <a class="btn btn-outline-warning btn-lg" href="http://www.firstinspires.org/about/at-a-glance" role="button">At a glance <i class="fa fa-chevron-circle-right" aria-hidden="true"></i></a>
            </p>
          </div>
          <div class="col-md-6">
            <div class="p-a-3">{% img '{{ "first-logo.jpg" }}' %}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section frc-index-pic-0">
    <div class="jumbotron jumbotron-fluid jumbotron-cover jumbotron-bg-pic">
      <div class="container text-xs-right">
        <h1 class="display-3">From <small style="letter-spacing: -0.2rem;">No.2 HS of ECNU</small></h1>
        <p class="lead">
          <small>Well known for its outstanding performance in international, continental, national and regional science contests.</small>
        </p>
        <p>
          <a class="btn btn-outline-warning btn-lg" role="button" href="http://www.hsefz.cn">Website <i class="fa fa-chevron-circle-right" aria-hidden="true"></i></a>
        </p>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="jumbotron jumbotron-fluid jumbotron-cover jumbotron-bg-white">
      <div class="container">
        <div class="col-md-6">
          <h1 class="display-3">Sponsors</h1>
          <p>Currently there are no sponsors. You may find them out later.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="jumbotron jumbotron-fluid jumbotron-cover jumbotron-bg-white">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h1 class="display-3">Hello, World</h1>
            <p class="lead">
              If you want to join Zodiac, feel free to contact us.
            </p>
            <a class="btn btn-outline-warning btn-lg" href="https://zodiacefz.slack.com/signup" role="button">Chat on Slack <i class="fa fa-slack" aria-hidden="true"></i></a>
            <hr class="m-y-3 m-x-1">
            <p class="lead">
              We also provide guides on programming and building a website.
            </p>
            <a class="btn btn-outline-warning btn-lg" href="{{ '/post.html' | prepend: site.baseurl }}" role="button">Resources <i class="fa fa-chevron-circle-right" aria-hidden="true"></i></a>
          </div>
          <div class="col-md-6">
            <div class="p-a-1">{% img '{{ "flag.png" }}' %}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<nav class="navbar navbar-light navbar-fixed-bottom text-md-right text-xs-center hidden-sm-down" id="footer-index">
  <ul class="list-inline">
    <span class="hidden-sm-down">
      {% include custom-footer.html %}
      <span> | </span>
    </span>
    {% include nav-list.html %}
  </ul>
</nav>
<ul class="list-inline text-xs-center hidden-md-up">
  {% include nav-list.html %}
</ul>
{% include scripts.html %}
{% js "index.js" %}
