<button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#navbar-frc-efz-main">
  &#9776;
</button>
<div class="collapse navbar-toggleable-xs" id="navbar-frc-efz-main">
  <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
  <div class="nav navbar-nav">
    <a class="nav-item nav-link" href="{{ '/index.html#intro' | prepend: site.baseurl }}">Welcome</a>
    <a class="nav-item nav-link" href="{% post_url 2016-08-10-team-member %}">Members</a>
    <!--<a class="nav-item nav-link" href="#frc/robot">Robot</a>
    <a class="nav-item nav-link" href="#frc/robot">Activities</a>-->
    <a class="nav-item nav-link" href="{{ '/post.html' | prepend: site.baseurl }}">Posts</a>
  </div>
</div>
