<header>
  <nav class="navbar navbar-light navbar-fixed-top navbar-main hidden-md-down navbar-index" id="navbar-index">
    <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
    <div class="nav navbar-nav">
      <a class="nav-item nav-link" data-menuanchor="pgIntro" href="#pgIntro">Welcome</a>
      <a class="nav-item nav-link" data-menuanchor="pgFRC" href="#pgFRC/abstract">Team</a>
      <a class="nav-item nav-link" href="#pgFRC/members">Members</a>
      <a class="nav-item nav-link" href="#pgFRC/robot">Robot</a>
      <a class="nav-item nav-link" href="#pgFRC/robot">Activities</a>
      <a class="nav-item nav-link" data-menuanchor="pgHsefz" href="#pgHsefz">School</a>
      <a class="nav-item nav-link" data-menuanchor="pgSponsor" href="#pgSponsor">Sponsors</a>
    </div>
  </nav>
  <nav class="navbar navbar-light navbar-fixed-top navbar-main hidden-lg-up navbar-index">
    {% include custom-header.html %}
  </nav>
</header>
