@charset "utf-8";

$min_width: 544px;

.jumbotron-title {
  margin: 0;
  padding: 3rem 1rem;
}

.jumbotron-bg-white {
  background-color: transparent;
}

.jumbotron-bg-pic {
  border-radius: 0;
  h1 {
    display: inline-block;
    background-color: #fff;
    padding: 1rem 2rem;
    margin-bottom: 1rem;
  }
  .lead {
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(150, 150, 150, 1);
  }
  .btn-info-outline {
    color: white;
    border-color: white;
  }
}

.right-block {
  display: block;
  float: right;
  clear: right;
}

.jumbotron-cover {
  margin: 0 !important;
  min-height: 100vh;
  @media (max-width: 544px) {
    min-height: 100vw;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", "Source Han Sans SC", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif !important;
}

body {
  margin-bottom: 5rem;
}

.frc-index-pic-0 {
  @media (min-width: $min_width) {
    padding-top: 30rem;
  }
  background-image: url(asset_path("26c128bcd4d83716.jpg"));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.frc-index-pic-1 {
  @media (min-width: $min_width) {
    padding-top: 30rem;
  }
  background-image: url(asset_path("36684c992737d145.jpg"));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.frc-index-pic-2 {
  @media (min-width: $min_width) {
    padding-top: 5rem;
  }
  background-image: url(asset_path("5d9a62d92cd6a7cd.jpg"));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5rem;
  line-height: 5rem;
  background-color: #f5f5f5;
  ul {
    margin-bottom: 0;
  }
}

.post-content {
  font-size: 18px;
  img {
    max-width: 100%;
    height: auto;
  }
}

.navbar-main {
  padding: 1.5rem 1rem;
  box-shadow: 0 1px 1px #c2c2c2;
}
