---
layout: page-blank
title:  "队员介绍 / Team Member"
date:   2016-08-10 21:22:19 +0800
categories: team
tags: 队伍 介绍
---
<div class="container m-t-3">
  <h1 class="display-4">{{ page.title }}</h1>
  <div class="card-columns m-t-1">
    {% for member in site.data.members %}
      {% case member.type %}
        {% when 'captain' %}
           {% assign __class = 'card-outline-info' %}
         {% when 'leader' %}
            {% assign __class = 'card-outline-warning' %}
        {% when 'teacher' %}
           {% assign __class = 'card-outline-success' %}
        {% else %}
           {% assign __class = '' %}
      {% endcase %}
      <div class="card {{ __class }} text-xs-center member-info">
        {% assign gravatar = member.gravatar %}
        {% if site.build_target == 'QINIU' %}
          {% assign gravatar = gravatar | prepend: "https://cdn.v2ex.com/gravatar/" %}
        {% endif %}
        {% if site.build_target == 'GITHUB_PAGES' %}
          {% assign gravatar = gravatar | prepend: "https://www.gravatar.com/avatar/" %}
        {% endif %}
        {% if member.gravatar %}
          <img class="card-img-top member-info-avatar" src="{{ gravatar }}">
        {% endif %}
        {% if member.avatar %}
          {% img '{{ member.avatar }}' class:"card-img-top member-info-avatar" %}
        {% endif %}
        <div class="card-block">
          <blockquote class="card-blockquote">
            <h4>{{ member.name }}</h4>
            <p>{{ member.intro }}</p>
            <footer><em>{{ member.position }}</em></footer>
          </blockquote>
        </div>
      </div>
    {% endfor %}

  </div>
</div>
