{% include index/main-header.html %}

{% assign i18n = site.data.lang[include.lang].home %}

<div id="fullpage" class="fullpage-index">
  <div data-anchor="intro" class="section frc-index-pic-1">
    <div class="jumbotron jumbotron-fluid jumbotron-cover jumbotron-bg-pic">
      <div class="container">
        <div class="row container-vertical-align">
          <div class="offset-lg-6 col-lg-6 text-xs-center text-lg-left">
            <h2 class="display-4"><small>#6353</small></h1>
            <h1 class="display-3">FRC Team Zodiac</h1>
            <p>
              <a class="btn btn-success btn-lg" role="button" href="#frc">{{ i18n.learn_more }} <i class="fa fa-chevron-circle-right" aria-hidden="true"></i></a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div data-anchor="about" class="section">
    <div class="jumbotron jumbotron-fluid jumbotron-cover jumbotron-bg-white">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h1>Zodiac</h1>
            <p class="lead">
              {{ i18n.intro_zodiac }}
            </p>
            <p class="lead">
              <a class="btn btn-lg" href="{% post_url 2016-08-10-team-member %}" role="button">{{ i18n.zodiac.dev }} <i class="fa fa-chevron-circle-right" aria-hidden="true"></i></a>
              <br>
              <a class="btn btn-lg" href="#" role="button">{{ i18n.zodiac.club }} <i class="fa fa-chevron-circle-right" aria-hidden="true"></i></a>
              <br>
              <a class="btn btn-lg" href="#" role="button">{{ i18n.zodiac.frc }} <i class="fa fa-chevron-circle-right" aria-hidden="true"></i></a>
              <br>
              <a class="btn btn-lg" href="{{ '/post.html' | prepend: site.baseurl }}" role="button">{{ i18n.zodiac.resource }} <i class="fa fa-chevron-circle-right" aria-hidden="true"></i></a>
            </p>
          </div>
          <div class="col-md-6">
            <div class="p-a-3">{% img team-logo.png class:frc-full-img %}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div data-anchor="library" class="section">
    <div class="jumbotron jumbotron-fluid jumbotron-cover jumbotron-bg-white">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h1>Library</h1>
            <p class="lead">
              {{ i18n.posts_intro }}
            </p>
            <ul class="list-unstyled">
            {% for post in site.posts limit:5 %}
              <li>
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
              </li>
            {% endfor %}
          </ul>
            <a class="btn btn-outline-success btn-lg" href="{{ '/post.html' | prepend: site.baseurl }}" role="button">{{ i18n.posts }} <i class="fa fa-chevron-circle-right" aria-hidden="true"></i></a>
          </div>
          <div class="col-md-6">
            <h1>Bulletin</h1>
            {% for post in site.categories.bulletin limit:5 %}
              <li>
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
              </li>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div data-anchor="school" class="section frc-index-pic-0">
    <div class="jumbotron jumbotron-fluid jumbotron-cover jumbotron-bg-pic">
      <div class="container text-xs-right">
        <h1 class="display-3">{{ i18n.school_from }} <small>{{ i18n.school_name }}</small></h1>
        <p class="lead">
          <small>{{ i18n.school_intro }}</small>
        </p>
        <p>
          <a class="btn btn-outline-success btn-lg" role="button" href="http://www.hsefz.cn">{{ i18n.school_website }} <i class="fa fa-chevron-circle-right" aria-hidden="true"></i></a>
        </p>
      </div>
    </div>
  </div>
  <div data-anchor="sponsors" class="section">
    <div class="slide" data-anchor="sponsors">
      <div class="jumbotron jumbotron-fluid jumbotron-cover jumbotron-bg-white">
        <div class="container">
          <h1 class="display-3">{{ i18n.sponsors }}</h1>
          <p class="lead">{{ i18n.sponsors_intro }}</p>
          <div class="row text-xs-center m-y-2">
            {% for sponsor in site.data.sponsors %}
              <div class="col-xs-3 col-md-2">
                {% img "sponsors/{{ sponsor.img }}" class:frc-sponsor-img alt:"{{sponsor.name}}" %}
                <h4>{{ sponsor.name }}</h4>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div data-anchor="contact" class="section">
    <div class="jumbotron jumbotron-fluid jumbotron-cover jumbotron-bg-white">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h1 class="display-3">{{ i18n.join_us }}</h1>
            <a class="btn btn-lg" href="mailto:contact@team6353.com" role="button">{{ i18n.contact.email }} <i class="fa fa-envelope" aria-hidden="true"></i></a>
            <br>
            <a class="btn btn-lg" href="javascript:void(0)" data-toggle="modal" data-target="#wechatModal" role="button">{{ i18n.contact.wechat }} <i class="fa fa-wechat" aria-hidden="true"></i></a>
            <br>
            <a class="btn btn-lg" href="https://www.facebook.com/FRC6353/?modal=admin_todo_tour" role="button">Facebook <i class="fa fa-facebook" aria-hidden="true"></i></a>
          </div>
          <div class="col-md-6">
            <div class="p-a-1">{% img contact.jpg class:frc-full-img %}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<nav class="navbar navbar-light navbar-fixed-bottom text-md-right text-xs-center hidden-sm-down" id="footer-index">
  <ul class="list-inline">
    <span class="hidden-sm-down">
      {% include custom-footer.html %}
      <span> | </span>
    </span>
    <li class="list-inline-item"><a class="nav-item nav-link active text-success" href="{{ i18n.lang_url | prepend: site.baseurl }}">{{ i18n.lang }}</a></li>
    <li class="list-inline-item"><span>·</span></li>
    {% include index/nav-list.html %}
  </ul>
</nav>
<ul class="list-inline text-xs-center hidden-md-up">
  <li class="list-inline-item"><a class="nav-item nav-link active text-success" href="{{ i18n.lang_url | prepend: site.baseurl }}">{{ i18n.lang }}</a></li>
  <li class="list-inline-item"><span>·</span></li>
  {% include index/nav-list.html %}
</ul>

<div class="modal fade" id="wechatModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ i18n.contact.wechat }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% img wechat-sub.png %}
      </div>
    </div>
  </div>
</div>

<div id="cover">
  <h1 class="text-xs-center">...</h1>
</div>

{% include scripts.html %}
{% js "index.js" %}
