<header>
  <nav class="navbar navbar-light navbar-fixed-top navbar-main hidden-md-down navbar-index" id="navbar-index">
    <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
    <div class="nav navbar-nav">
      <a class="nav-item nav-link" data-menuanchor="intro" href="#intro">Welcome</a>
      <a class="nav-item nav-link" data-menuanchor="about" href="#about">About</a>
      <a class="nav-item nav-link" data-menuanchor="library" href="#library">Library</a>
      <a class="nav-item nav-link" data-menuanchor="school" href="#school">School</a>
      <a class="nav-item nav-link" data-menuanchor="sponsors" href="#sponsors">Sponsors</a>
      <a class="nav-item nav-link" data-menuanchor="contact" href="#contact">Contact</a>
    </div>
  </nav>
  <nav class="navbar navbar-light navbar-main hidden-lg-up navbar-index">
    {% include custom-header.html %}
  </nav>
</header>
