<header>
  <nav class="navbar navbar-light navbar-fixed-top navbar-main hidden-md-down navbar-index" id="navbar-index">
    <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
    <div class="nav navbar-nav">
      <a class="nav-item nav-link" data-menuanchor="intro" href="#intro">Welcome</a>
      <a class="nav-item nav-link" data-menuanchor="frc" href="#frc">Team</a>
      <a class="nav-item nav-link" data-menuanchor="hsefz" href="#hsefz">School</a>
      <a class="nav-item nav-link" data-menuanchor="sponsor" href="#sponsor">Sponsors</a>
      <a class="nav-item nav-link" data-menuanchor="contact" href="#contact">Join us</a>
    </div>
  </nav>
  <nav class="navbar navbar-light navbar-main hidden-lg-up navbar-index">
    {% include custom-header.html %}
  </nav>
</header>
