<li class="list-inline-item"><a class="nav-item nav-link active" href="{{ '/status.html' | prepend: site.baseurl }}">{{ i18n.footer.status }}</a></li>
<li class="list-inline-item"><span>·</span></li>
<li class="list-inline-item"><a class="nav-item nav-link active" href="{{ '/post.html' | prepend: site.baseurl }}">{{ i18n.posts }}</a></li>
<li class="list-inline-item"><span>·</span></li>
<li class="list-inline-item"><a class="nav-item nav-link active" href="{{ '/contact.html' | prepend: site.baseurl }}">{{ i18n.footer.contact }}</a></li>
<li class="list-inline-item"><span>·</span></li>
<li class="list-inline-item"><a class="nav-item nav-link active" href="{% post_url 2016-08-13-open-source %}">{{ i18n.footer.opensource }}</a></li>
